body {
    font-size: 1.25rem;
}

.avatar {
    max-width: 100%;
}

@media (min-width: 992px) {
    .navbar .navbar-nav {
        flex-wrap: nowrap;
        align-items: center;
    }

    .navbar .nav-link {
        white-space: nowrap;
    }
}
