{% extends "base.html" %}
{% block content %}
<h2>Вход</h2>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Логин</label>
    <input class="form-control" name="username" value="user">
  </div>
  <div class="mb-3">
    <label class="form-label">Пароль</label>
    <input class="form-control" type="password" name="password" value="qwerty">
  </div>
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" id="remember" name="remember" checked>
    <label class="form-check-label" for="remember">Запомнить меня</label>
  </div>
  <button class="btn btn-primary">Войти</button>
</form>
{% endblock %}
